.font22 {
	font-size: 22rpx;
}

.font24 {
	font-size: 24rpx;
}

.font26 {
	font-size: 26rpx;
}

.font28 {
	font-size: 28rpx;
}

.font32 {
	font-size: 32rpx;
}

.font36 {
	font-size: 36rpx;
}

.red {
	color: #e04142;
}

.blue {
	color: #498cdb;
}

.green {
	color: #6abe6e;
}

.gray {
	color: #c2c2c2;
}

.bg-red {
	background-color: #d4322c;
}

.bg-green {
	background-color: #6abe6e;
}

.font-weight {
	font-weight: bold;
}

.flex-c-b {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

page {
	height: 100%;
	font-size: 28rpx;
	background: #ffffff;
	box-sizing: border-box;
	/* font-family: 'PingFangSC-Medium'; */
}

.shadow {
	box-shadow: 0rpx 0rpx 2rpx 10rpx rgba(0, 0, 0, 0.2);
}

.grid3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20rpx;
	align-items: center;
}

.grid4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20rpx;
	align-items: center;
}